$main_simp_color: red;
$secondary_simp_color: RED;
$lighter_secondary_simp_color: rgb(240, 196, 196);
$main_font: helvetica;





///////////////////////////////////////////////////////////////////BODY/////////////////////////////////////////////////////////////////





body {
    margin: 0;





///////////////////////////////////////////////////////////////////HEADER//////////////////////////////////////////////////////////////
    
    
    
    
    
    header {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin-top: 50px;
        margin-bottom: 150px;
        img {
            height: 100px;
            width: 100px;
        }
        h1 {
        font-family: $main_font;
        padding: 0px 0px 0px 50px;
        color: black;
        font-size: 50px;
        }
    }





///////////////////////////////////////////////////////////////////TABLE ALL PROJECTS//////////////////////////////////////////////////////////////
    
    
    

    
    .main_table {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
            .add_project_div{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0;
            margin-bottom: 50px;
                button[type="submit"]{
                    width: 100px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $main_simp_color;
                    padding: 15%;
                    white-space: nowrap;
                    cursor: pointer;
                    border-color: black;
                    border-radius: 5px;
                    color: white
                }
            }
            table{
                width: 100%;
                border-collapse: collapse;
                border: solid 2px black;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                }
                tr, td, th {
                    border: solid 2px black;
                    padding: 3%;
                }
                th {
                    background-color: $secondary_simp_color;
                    color: white;
                }
                tr:nth-child(even) td{
                    background-color: $lighter_secondary_simp_color;
                    }
                td {
                    width: 50%;
                    button[type="submit"]{
                        background: none;
	                    border: none;
	                    padding: 0;
	                    font: inherit;
                        cursor: pointer;
                    }
                }
            }
    }







/////////////////////////////////////////////////////////////////IDV PROJECT DETAILS/////////////////////////////////////////////////////////////////
    





    .details_project {
        width:100%;
        margin: 0;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        .title_idv {
            width: 40%;
            margin-bottom: 60px;
        }
        p{
            max-width: 40%;
            min-width: 40%;
            word-break: break-word;
            margin-bottom: 60px;
        }
        a{
            width: 40%;
            text-decoration: none;
            color: black;
            margin-bottom: 60px;
        }
    }







/////////////////////////////////////////////////////////////////MODIFY AND ADD PROJECT//////////////////////////////////////////////////////////////
    




    .modify_project{
        width:100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-left: 10px;
        margin-right: 10px;
        .inside_modify{
            width: 30%;
            display: flex;
            justify-content: center;
            outline: solid 2px black;
            padding: 2% 5%;
            textarea,input[type="text"]{
                width: 350px;
                height: 150px;
                border-color: lightgrey;
                border-radius: 5px;
                padding: 10px;
            }
            textarea:focus,input[type="text"]:focus{
                box-shadow: 0 0 10px #7aa7c7;
                border-radius: 5px;
                outline: none;
            }
            input[type="text"]{
                height: 25px;
            }
            button[type="submit"]{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                width: 125px;
                height: 50px;
                background-color: white;
                padding: 2%;
                cursor: pointer;
                border-color: lightgrey;
                border-radius: 5px;
            }
            button:hover{
                background-color:lightgrey;
            }
        }
        a{
            width: 40%;
            text-decoration: none;
            color: black;
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }





///////////////////////////////////////////////////////////////////FOOTER//////////////////////////////////////////////////////////////
    
    
    
    
    
    footer {
        width:100%;
        padding: 50px 0px 50px 0px;
        text-align: center;
        background-color: $secondary_simp_color;
        color: white;
        margin-top: 250px;
    }
}





//////////////////////////////////////////////////////////////@MEDIA SCREENS////////////////////////////////////////////////////////////////////////////////





@media only screen and (max-width: 1210px) {
    body {
        .main_table {
        width: 90%;
    }
    }
}




@media only screen and (max-width: 978px) {
    body {
        .main_table {
        width: 90%;
    }
    .modify_project{
        .inside_modify{
            textarea,input[type="text"]{
                width: 100%;
                height: 100%;
            }
     }
        }
    }
}