body {
  margin: 0;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}
body header img {
  height: 100px;
  width: 100px;
}
body header h1 {
  font-family: helvetica;
  padding: 0px 0px 0px 50px;
  color: black;
  font-size: 50px;
}
body .main_table {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
body .main_table .add_project_div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 50px;
}
body .main_table .add_project_div button[type=submit] {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 15%;
  white-space: nowrap;
  cursor: pointer;
  border-color: black;
  border-radius: 5px;
  color: white;
}
body .main_table table {
  width: 100%;
  border-collapse: collapse;
  border: solid 2px black;
  text-align: center;
}
body .main_table table a {
  text-decoration: none;
  color: black;
}
body .main_table table tr, body .main_table table td, body .main_table table th {
  border: solid 2px black;
  padding: 3%;
}
body .main_table table th {
  background-color: RED;
  color: white;
}
body .main_table table tr:nth-child(even) td {
  background-color: #f0c4c4;
}
body .main_table table td {
  width: 50%;
}
body .main_table table td button[type=submit] {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
body .details_project {
  width: 100%;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .details_project .title_idv {
  width: 40%;
  margin-bottom: 60px;
}
body .details_project p {
  max-width: 40%;
  min-width: 40%;
  word-break: break-word;
  margin-bottom: 60px;
}
body .details_project a {
  width: 40%;
  text-decoration: none;
  color: black;
  margin-bottom: 60px;
}
body .modify_project {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
body .modify_project .inside_modify {
  width: 30%;
  display: flex;
  justify-content: center;
  outline: solid 2px black;
  padding: 2% 5%;
}
body .modify_project .inside_modify textarea, body .modify_project .inside_modify input[type=text] {
  width: 350px;
  height: 150px;
  border-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
}
body .modify_project .inside_modify textarea:focus, body .modify_project .inside_modify input[type=text]:focus {
  box-shadow: 0 0 10px #7aa7c7;
  border-radius: 5px;
  outline: none;
}
body .modify_project .inside_modify input[type=text] {
  height: 25px;
}
body .modify_project .inside_modify button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  height: 50px;
  background-color: white;
  padding: 2%;
  cursor: pointer;
  border-color: lightgrey;
  border-radius: 5px;
}
body .modify_project .inside_modify button:hover {
  background-color: lightgrey;
}
body .modify_project a {
  width: 40%;
  text-decoration: none;
  color: black;
  margin-top: 30px;
  margin-bottom: 60px;
}
body footer {
  width: 100%;
  padding: 50px 0px 50px 0px;
  text-align: center;
  background-color: RED;
  color: white;
  margin-top: 250px;
}

@media only screen and (max-width: 1210px) {
  body .main_table {
    width: 90%;
  }
}
@media only screen and (max-width: 978px) {
  body .main_table {
    width: 90%;
  }
  body .modify_project .inside_modify textarea, body .modify_project .inside_modify input[type=text] {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
